

.footer_contacts{
    padding-right: 20px;
    position: relative;
    &_numbers{
    font-weight: 500;
    font-size: 24px;
        a{
            display: block;
            margin-bottom: 5px;
            &:nth-child(2),&:nth-child(4){
                margin-bottom: 15px;
            }
        }
    }
    &_mail{
        font-size: 18px;
    }
    &:after{
        @include after;
        right: 0;
        width: 1px;
        height:  calc(100% + 55px);
        background-color: #D0D2D5;
        top: -5px;

    }
}
.footer_social{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #D0D2D5;
    a{
        display: block;
        padding: 5px;
        margin-right: 10px;
    }
    padding-bottom: 5px;
}
.footer_menu{
    &_title{
        font-weight: 600;
        font-size: 18px;
    }
    li{
            margin-top: 15px;
    }
}
.footer_terms{
    color: #D0D2D5;
    font-weight: 18px;
}
footer{
    background-color: #E5E5E5;
    padding-top: 30px;
    padding-bottom: 40px;
    .white_btn{
        margin-bottom: 15px;
    }
}