header{
    border-bottom: 1px solid #E5E5E5;
    height: 70px;
    display: flex;
    align-items: center;
    @include transition;
}

.header_lang{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-left: 20px;
    span{
        color: #D12421;
        display: inline-block;
        padding-right: 7px;
        margin-right: 5px;
        position: relative;
        &:after{
            @include after;
            @include top_center;
            width: 2px;
            height: 17px;
            background-color: #333;
            right: 0;
        }
    }
}
.menu{
    >:not(:last-child){
        margin-right: 30px;
    }
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
}
.list_style{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06), 0px 8px 8px rgba(50, 50, 71, 0.08);
    border-radius: 0px 0px 5px 5px;
    top: 41px;
    right: -10px;
    display: none;
    position: absolute;
    width: 240px;
    z-index: 20;
    li:not(:last-child){
        padding-bottom: 15px;
        border-bottom:  1px solid #E5E5E5;
        margin-bottom: 15px;
    }
}
.drop_down{
    position: relative;

>div{
    cursor: pointer;
    >span{
        margin-right: 6px;
    }
    img{
        @include transition;
    }
    &.active_down{
        img{
            transform: rotate(180deg);
        }
    }
}
    &_list{
        top: 47px;
    }
}
.header_icons{
    >a{
        display: block;
        padding:5px;
        margin-right: 10px;
    }
}
.header_right_side{
    display: flex;
    align-items: center;
    >*:not(.menu){
        position: relative;
        padding-left: 10px;
        &:after{
        @include after;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
        width: 1px;
        display: block;
        background-color: #E5E5E5;
        height: 24px;
        }
    }
}
.menu_inf{
    .list_style{
        top: 35px;
    }
    li{
        a{

        
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        }
    }
    &_btn{
        position: relative;
        cursor: pointer;
        width: 18px;
        span{
            background: #333333;
            height: 2px;
            width: 18px;
            display: block;
            @include transition;
            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
        &_active{
            span{
                position: absolute;
                top: 50%;
            }
            span:nth-child(2){
                display: none;
            }
            span:first-child{
                transform: rotate(45deg);
            }
            span:last-child{
                transform: rotate(-45deg);
            }
        }
    }
}
.header_lang{
    a{
        @include transition;
        &:hover{
            color: #D12421;
        }
    }
}
.mobile_menu{
    padding: 30px;
    background-color: #fff;
    z-index: 53;
    width: 350px;
    max-width: 100vw;
    position: relative;
  
    li{
        margin-bottom: 18px;
        text-transform: uppercase;
        font-size: 18px;
    }
    .list_line{
        height: 1px;
        width: 100%;
        background-color: #999;
    }
    .drop_down {
        li{
            margin-bottom: 0;
            margin-top: 20px;
            a{
                font-weight: normal;
            }
        }
        ul{
            display: none;
        }
    }
    .header_social{
        display: flex;
    }
}
.mobile_menu_wrap{
    display: none;
    position: fixed;
    right: 0;
    z-index: 2222;
    top: 70px;
    &_bg{
        position: fixed;
        right: 0;
        top: 70px;
        z-index: 50;
        width: 100vw;
        height:100vh;
        background-color: rgba(51, 51, 51,0.5);
        @include transition;
    }
}
.fixed_header{
    position: fixed;
    z-index: 51;
    width: 100vw;
    background-color: #fff;
}
.scrollbody{
    overflow: hidden;
}